NEXT_PUBLIC_SUPABASE_URL=https://gltbdigarhujfskpqpdp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
ANTHROPIC_API_KEY=
KLIPFOLIO_API_KEY=
KLIPFOLIO_USER_ID=
SENDGRID_API_KEY=
NEXT_PUBLIC_APP_URL=https://dashboards.hero.eu
